.popular {
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
}

.popular h1 {
    font-size: 2.5rem;
    color: #090909;
    margin-bottom: 20px;
}

.popular hr {
    width: 60%;
    margin: 0 auto 40px;
    border: 1px solid #e1e1e1;
}

.popular-item {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: stretch;
}

.popular-item > * {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
    background-color: #fff;
}

.popular-item > *:hover {
    transform: translateY(-5px);
}

@media (max-width: 1024px) {
    .popular h1 {
        font-size: 2rem;
    }
    .popular hr {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .popular {
        padding: 15px;
    }
    .popular h1 {
        font-size: 1.8rem;
    }
    .popular hr {
        width: 80%;
    }
}
