.shop-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 100px;
}

.shopcategory-banner {
    display: block;
    margin: 30px auto;
    width: 90%;
    max-width: 1200px;
}

.shopcategory-indexSort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 20px 0;
}

.shopcategory-indexSort p {
    margin: 0;
}

.shopcategory-sort {
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.shopcategory-sort:hover {
    background-color: #f0f0f0;
}


.shopcategory-products {
    display: flex;  
    flex-wrap: wrap;  
    gap: 20px;  
    margin: 20px 5%;
    justify-content: center;
}


.shopcategory-products > div {
    flex: 1 1 200px;
    max-width: 200px; 
}


.shopcategory-loadmore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    padding: 15px 30px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: fit-content;
}

.shopcategory-loadmore:hover {
    background-color: #dcdcdc;
}


@media (max-width: 1200px) {
    .shopcategory-indexSort p {
        font-size: 1.5rem;
    }

    .shopcategory-products > div {
        max-width: 250px; 
    }
}

@media (max-width: 1024px) {
    .shopcategory-indexSort {
        flex-direction: column;
        align-items: flex-start;
    }

    .shopcategory-sort {
        width: 100%;
        text-align: center;
    }

    .shopcategory-loadmore {
        font-size: 16px;
    }

    .shopcategory-products > div {
        max-width: 200px; 
    }
}

@media (max-width: 768px) {
    .shopcategory-indexSort {
        font-size: 14px;
    }

    .shopcategory-products > div {
        flex: 1 1 150px;
        max-width: 150px; 
    }
}

@media (max-width: 480px) {
    .shopcategory-indexSort {
        font-size: 12px;
    }

    .shopcategory-sort {
        padding: 8px 15px;
    }

    .shopcategory-loadmore {
        width: 100%;
        padding: 10px;
        font-size: 14px;
    }
}
